.App {
  text-align: center;

}

::placeholder {
  color: lightgrey!important; /* or your desired light grey */
  opacity: 1!important /* keeps the color solid */
}


.App-logo {
  height: 50vmin;
  pointer-events: none;
}
/* Add this CSS to your styles */
.expandable-textarea {
  transition: all 0.3s ease; /* Smooth transition for size change */
}

.expandable-textarea:hover {
  height: 150px; /* Increase the height on hover */
  width: 100%; /* Make the text box fill the width */
  font-size: 16px; /* Increase font size on hover */
}

.expandable-textarea {
  height: 50px; /* Default height */
  width: 100%; /* Full width */
  font-size: 14px; /* Regular font size */
  resize: vertical; /* Allow vertical resizing */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
footer {
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: relative; /* Position footer at the bottom */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bg-custom
{
  background-color: rgb(47 244 102);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table.table-bordered {
  border: 1px solid #e2dbdb !important;
}

.table.table-bordered th,
.table.table-bordered td {
  border: 1px solid #e2dbdb !important;
}

.table.table-bordered tbody tr:hover {
  background-color: #e2dbdb !important; /* Optional: Highlight row on hover */
}
